

:root {
    --primary: #fe2c55;
    --text-color: #161823;
    --black: #000;
    --white: #fff;
    // Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'ProximaNova', san-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed; // Tối ưu tốc độ render fonts
    color: var(--text-color);
}

// xóa tất cả các thuộc tính này ở thẻ input, button và tabindex
button,
input,
[tabindex] {
    outline: none;
    border: none;
}
// set lại màu thẻ a
a[href] {
    //thẻ a có href là sửa
    color: var(--text-color);
    text-decoration: none;
}

//* CUSTOM TIPPY TOOLTIP
body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        background-color: #5f5f5f;
    }
    .tippy-arrow {
        color: #5f5f5f;
    }
    .tippy-content{
        padding: 8px 9px ;
    }
}   

//* FONTS EMNBEDED
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/TikTokFont-Regular.woff2');
    font-weight: 400;
}
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/TikTokFont-Semibold.woff2');
    font-weight: 600;
}
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/TikTokDisplayFont-Bold.woff2');
    font-weight: 700;
}
@font-face {
    font-family: SofiaPro;
    src: url('/assets/fonts/TikTokFont-Bold.woff2');
    font-weight: 700;
}