//* Menu wrapper
.menu-list {
    width: 224px;

    .menu-item {
        margin-left: 0; //? C1. Đưa vào trong lớp cha để ưu tiên hơn
    }
}

//* Menu item
.menu-item {
    // margin-left: 0  !important; //? C2. có thể dùng important để ưu tiên hơn
    width: 100%;
    justify-content: flex-start; // căn ra đầu
    border-radius: 0;
    padding: 11px 16px; //! không thể dùng padding nhỏ hơn bên padding root được nên phải cộng thêm vào và lớn hơn
    &:hover {
        background-color: #f8f8f8;
    }
}

.menu-popper {
    padding-bottom: 8px;
}
