.wrapper {
    --search-border-radius: 92px;
    //tính dấu |
    --search-height: 46px;
    --search-top-spacer: 9px;

    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
    display: flex;
    justify-content: center;
    // align-items: center;
    //? Đóng băng header khi kéo xuống
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--white);
    z-index: 10;
}
.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--default-layout-horizontal-spacer);
}

.logo {
}

//* ACTION
.actions {
    display: flex;
    align-items: center;
}
.user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover; // để ảnh đúng tỉ lệ tràn hình tròn
    margin-left: 12px;
    cursor: pointer;
    margin-left: 14px;
}
.action-btn {
    display: flex;
    position: relative;
    font-size: 2.2rem;
    background-color: transparent;
    color: rgb(22, 24, 35);
    padding: 4px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

//* BADGE
.badge {
    position: absolute;
    top: -3px;
    right: 0px;
    padding: 0px 6px;
    height: 2rem;
    line-height: 2rem;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--white);
    font-family: var(--font-family);
    background-color: var(--primary);
}

//* Button menu
.more-btn {
    font-size: 2rem;
    margin-left: 20px;
    background-color: transparent;
    padding: 4px 8px;
    cursor: pointer;
}
