.wrapper {
    --search-border-radius: 92px;
    //tính dấu |
    --search-height: 46px;
    --search-top-spacer: 9px;

    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
    display: flex;
    justify-content: center;
    // align-items: center;
}
.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
}

.search {
    width: 361px;
    height: var(--search-height);
    padding: 0 0 0 16px;
    display: flex;
    position: relative;
    background-color: #f1f1f2;
    border-radius: var(--search-border-radius);
    border: 1.5px solid transparent; // mặc định có border nên khi click focus-within vào nó vẫn còn border sẽ hủy hiệu ứng co co lại
    input {
        height: 100%; // để kéo dài dùng input lên
        color: #000;
        font-size: 1.6rem;
        background-color: transparent;
        outline: none; // tắt outline khi click vào
        flex: 1; // chiếm trọn phần đẩy phần còn lại sát biên (dùng chung display: flex)
        caret-color: var(--primary); // chỉnh màu cho dấu nháy nháy khi input
    }

    //* xử lý input khi nhập vào sẽ làm đổi màu icon search
    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }
    //* xử lý input khi nhập vào sẽ làm đổi màu icon search

    &:focus-within {
        border: 1.5px solid rgba(22, 24, 35, 0.2);
    }
}

.clear,
.loading {
    position: absolute;
    color: rgba(22, 24, 35, 0.34);
    right: 70px;
    // căn giữa trên xuống
    top: 50%;
    transform: translateY(-50%);
}

.search-btn {
    width: 52px;
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.34);

    &:hover {
        cursor: pointer;
        // viết hover cho scss
        background-color: rgba(22, 24, 35, 0.03);
    }
    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
    //  tạo đường gạch span giữa input và button search
    &::after {
        content: '';
        position: absolute;
        top: var(--search-top-spacer);
        right: 52px;
        width: 1px;
        // calc height để sau ni có sửa thì vẫn ăn được vào
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        background-color: rgba(22, 24, 35, 0.12);
    }
}

.actions {
}
